**CLASE DE INTRODUCCIÓN AL MACHINE LEARNING AUTO 1 - EDA pandas**

**POR:** Yomin Jaramillo Múnera


**BASADO EN:**

https://towardsdatascience.com/an-introduction-to-pandas-29d15a7da6d

https://pandas.pydata.org/docs/user_guide/index.html

Pandas es un paquete especializado que permite hacer el analisis de datos y nos facilita el trabajo con bases de datos externas. Es una herramienta popular para abordar el  análisis exploratorio de datos - EDA

In [1]:
import pandas as pd # como numpy generalmente se abrevia como np, por lo general pandas se abrevia como pd

La principal aplicación de pandas es el trabajo con Dataframes, los cuales son definidos como: Datos tabulares bidimensionales, de tamaño variable y potencialmente heterogéneos.La estructura de datos también contiene ejes etiquetados (filas y columnas).
El dataframe es la principal estructura de datos de pandas.

Por lo tanto hablamos de una estructura de datos bidimensional (comparable con una matriz), con la diferencia que los tipos de datos en la estructura puede ser diferente. Al igual que la matriz, se organiza en filas y columnas.

**CREACIÓN DE UN DATAFRAME**

En general, existen multiples formas de crear un Dataframe, desde una lista, desde un diccionario, desde un array de numpy o incluso se pueden importar archivos externos como .csv, .xls, o sql

In [2]:
#Desde una lista
Animes_favoritos = [['Shingeki no Kyogin', 'Eren'], ['Naruto', 'Naruto'], ['Death note', 'Yagami']]
df_animes = pd.DataFrame(Animes_favoritos)
df_animes

                    0       1
0  Shingeki no Kyogin    Eren
1              Naruto  Naruto
2          Death note  Yagami

In [ ]:
#Desde un diccionario
dict1 = {'Exercises': ['Running','Walking','Cycling'],
         'Mileage': [250, 1000, 550]}
df = pd.DataFrame(dict1)
df

  Exercises  Mileage
0   Running      250
1   Walking     1000
2   Cycling      550

**EJERCICIO 1:** Construir un Dataframe a partir de un array de numpy

**IMPORTAR BASES DE DATOS**

A pesar de que hay varias metodologías para la creación de Dataframes, como las vistas anteriormente, es muy común que se haga la importación de base de datos externas. 
En general, teniendo en cuenta la gran acogida de pandas como framework de análisis de datos, varios formatos pueden ser convertidos usando el pd. 
Recomiendo seguir la documentación oficial disponible en segun la necesidad que tenga: 

https://pandas.pydata.org/docs/user_guide/index.html

Normalmente el archivo de la base de datos externa es ubicado en la misma carpeta del script de python o el notebook desde el que se va a llamar. En este notebook se trabajo con una archivo con extensión ".csv" el cual se ubico en la misma carpeta que este notebook. 

Para la sincronización del notebook con google drive se ejecuta las siguiente:

In [ ]:
from google.colab import drive
import sys
drive.mount('/content/drive')

Mounted at /content/drive

El codigo les solicitará una autenticación para sincronizar los datos de su drive al noteebok presente. Una vez alli el el folder de la barra del menú a la izquierda le debe aparecer una carpeta llamada Drive, lo cual indíca la sincronización de la información.
Despliegue la carpeta de Drive y busque la ubicación donde se alojan el notebook y la base de datos,  posteriormente, copie el path y corra el siguiente codigo para ubicarse directamente en dicha carpeta

In [ ]:
#sys.path.append('/content/drive/MyDrive/Colab Notebooks/Auto 1')
%cd '/content/drive/MyDrive/Colab Notebooks/Auto 1'
#puede confirmar su ubiación mediante:
%ls

/content/drive/MyDrive/Colab Notebooks/Auto 1
'Clasificacion cardiacas.ipynb'  'Laboratorio 1'/             Variables.ipynb
 Class3and4_Operations.ipynb      Pandas_Introduction.ipynb
 cricketer.csv                    Untitled0.ipynb

Una vez en la ubicación, podemos hacer la lectura de la base de datos. En este caso se va a trabajar con cricker.csv por lo que se usa el método read_csv, pero recuerde que puede varia según el archivo que desee importar

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Auto 1/cricketer.csv')
print(df)

      Unnamed: 0   left  year  life  dead  acd  kia  inbed  cause
0              1  right  1890   102     0    0    0      0  alive
1              2   left  1892   100     0    0    0      0  alive
2              3  right  1893    99     0    0    0      0  alive
3              4  right  1894    98     0    0    0      0  alive
4              5  right  1896    96     0    0    0      0  alive
...          ...    ...   ...   ...   ...  ...  ...    ...    ...
5955        6168  right  1890    46     1    0    0      1  inbed
5956        6169  right  1919    63     1    0    0      1  inbed
5957        6170   left  1876    88     1    0    0      1  inbed
5958        6171   left  1850    65     1    0    0      1  inbed
5959        6172   left  1885    32     1    1    1      0    acd

[5960 rows x 9 columns]

**PRIMEROS PASOS**

Es ideal hacer una visualización general de los datos para familiarizarse con ellos y estudiar la composición de la base de datos. Para esto se recomienda el uso de algunos de los siguientes métodos:

In [ ]:
df.head() #toma las 5 primera muestras de la base de datos

   Unnamed: 0   left  year  life  dead  acd  kia  inbed  cause
0           1  right  1890   102     0    0    0      0  alive
1           2   left  1892   100     0    0    0      0  alive
2           3  right  1893    99     0    0    0      0  alive
3           4  right  1894    98     0    0    0      0  alive
4           5  right  1896    96     0    0    0      0  alive

In [ ]:
df.tail() #toma las ultimas 5 muestras de la base de datos

      Unnamed: 0   left  year  life  dead  acd  kia  inbed  cause
5955        6168  right  1890    46     1    0    0      1  inbed
5956        6169  right  1919    63     1    0    0      1  inbed
5957        6170   left  1876    88     1    0    0      1  inbed
5958        6171   left  1850    65     1    0    0      1  inbed
5959        6172   left  1885    32     1    1    1      0    acd

In [ ]:
df.info()#Muestra información general de la base de datos y tipos de datos de las columnas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5960 entries, 0 to 5959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5960 non-null   int64
 1   left        5960 non-null   object
 2   year        5960 non-null   int64
 3   life        5960 non-null   int64
 4   dead        5960 non-null   int64
 5   acd         5960 non-null   int64
 6   kia         5960 non-null   int64
 7   inbed       5960 non-null   int64
 8   cause       5960 non-null   object
dtypes: int64(7), object(2)
memory usage: 419.2+ KB

In [ ]:
df.describe()#muestra descripción estadistica de los datos

,Unnamed: 0,year,life,dead,acd,kia,inbed
count,5960.000000,5960.000000,5960.000000,5960.000000,5960.000000,5960.000000,5960.000000
mean,3035.931879,1905.639430,61.836913,0.568289,0.031544,0.020134,0.536745
std,1783.262498,33.042651,16.602504,0.495356,0.174796,0.140471,0.498690
min,1.000000,1840.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,1490.750000,1878.000000,49.000000,0.000000,0.000000,0.000000,0.000000
50%,2992.000000,1908.000000,63.000000,1.000000,0.000000,0.000000,1.000000
75%,4579.250000,1935.000000,76.000000,1.000000,0.000000,0.000000,1.000000
max,6172.000000,1960.000000,102.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df.sample(10) #imprime una cantidad especifica de muestras de forma aleatoria

      Unnamed: 0   left  year  life  dead  acd  kia  inbed  cause
107          108  right  1910    82     0    0    0      0  alive
1355        1356  right  1938    54     0    0    0      0  alive
4269        4365  right  1846    65     1    0    0      1  inbed
4416        4522  right  1899    89     1    0    0      1  inbed
3979        4052   left  1871    83     1    0    0      1  inbed
2293        2294  right  1955    37     0    0    0      0  alive
4451        4558  right  1883    32     1    0    0      1  inbed
4220        4311   left  1873    58     1    0    0      1  inbed
3710        3770  right  1871    65     1    0    0      1  inbed
611          612  right  1925    67     0    0    0      0  alive

In [ ]:
df['cause'].unique() #define los posibles valores que puede tomar la columna 'cause'

array(['alive', 'inbed', 'acd'], dtype=object)

**SELECCIÓN DE FILAS Y COLUMNAS**

Para la referenciación de filas y/o columnas en un DataFrame se hace uso de .loc[  ] y .iloc[  ], el uso de uno  o de otro depende de la referenciación que usted desee hacer par acceder a la información.

.loc[  ] se usa si usted conoce la etiqueta o nombre de la fila o columna.

In [ ]:
df.loc[0:10,'year']

0     1890
1     1892
2     1893
3     1894
4     1896
5     1896
6     1897
7     1898
8     1898
9     1898
10    1900
Name: year, dtype: int64

.iloc[  ] se usa para refenciase solo con los indices

In [ ]:
df.iloc[0:10, 2]

0    1890
1    1892
2    1893
3    1894
4    1896
5    1896
6    1897
7    1898
8    1898
9    1898
Name: year, dtype: int64

Tambien es posible combinar algunos de los métodos anteriores para tomar una porción especifica de datos:

In [ ]:
df[['year','cause']].head()

   year  cause
0  1890  alive
1  1892  alive
2  1893  alive
3  1894  alive
4  1896  alive

**EJERCICIO 2:** Importe una base de datos en formato .csv o desde excel y haga una familiarización con sus datos

**INSERTAR FILAS O COLUMNAS A UN DATAFRAME**

Hay una gran variedad de formas de añadir filas y columnas en el dataframe, es posible hacer uso del .loc[  ] o tambien es posible utilizar .insert(). Es posible incluso hacer la concatenación de 2 dataframe usando pd.merge(), concat(), or join().

Para nuestro ejemplo puntual, utilizaremos .iloc[ ] y .insert( ) para agregar nuevos datos.

In [ ]:
print('Antes: \n', df.tail())
df.loc[5960]=[6173, 'right', 1994, 28, 0, 0, 0, 0, 'alive']
print('Despues: \n', df.tail())

Antes:
       Unnamed: 0   left  year  life  dead  acd  kia  inbed  cause
5955        6168  right  1890    46     1    0    0      1  inbed
5956        6169  right  1919    63     1    0    0      1  inbed
5957        6170   left  1876    88     1    0    0      1  inbed
5958        6171   left  1850    65     1    0    0      1  inbed
5959        6172   left  1885    32     1    1    1      0    acd
Despues:
       Unnamed: 0   left  year  life  dead  acd  kia  inbed  cause
5956        6169  right  1919    63     1    0    0      1  inbed
5957        6170   left  1876    88     1    0    0      1  inbed
5958        6171   left  1850    65     1    0    0      1  inbed
5959        6172   left  1885    32     1    1    1      0    acd
5960        6173  right  1994    28     0    0    0      0  alive

Note que una nueva muestra o fila ha sido agregada al final del Dataframe. Adicionalmente, tenga en cuenta que en la adición del nuevo dato se definieron los valores de todas las columnas, no hacer esto generará un error, es preferible añadir la palabra None como indicador de la inexistencia del dato

In [ ]:
print('Antes: \n', df.tail())
df.loc[5961]=[6174, 'right', 1965, 58, None, None, None, None, 'alive']
print('Despues: \n', df.tail())

Antes:
       Unnamed: 0   left  year  life  dead  acd  kia  inbed  cause
5956        6169  right  1919    63     1    0    0      1  inbed
5957        6170   left  1876    88     1    0    0      1  inbed
5958        6171   left  1850    65     1    0    0      1  inbed
5959        6172   left  1885    32     1    1    1      0    acd
5960        6173  right  1994    28     0    0    0      0  alive
Despues:
       Unnamed: 0   left  year  life  dead   acd   kia inbed  cause
5957        6170   left  1876    88     1     0     0     1  inbed
5958        6171   left  1850    65     1     0     0     1  inbed
5959        6172   left  1885    32     1     1     1     0    acd
5960        6173  right  1994    28     0     0     0     0  alive
5961        6174  right  1965    58  None  None  None  None  alive

In [ ]:
df.info()#Note que agregar valores None cambia la info de Non-Null Count

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5962 entries, 0 to 5961
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5962 non-null   int64
 1   left        5962 non-null   object
 2   year        5962 non-null   int64
 3   life        5962 non-null   int64
 4   dead        5961 non-null   object
 5   acd         5961 non-null   object
 6   kia         5961 non-null   object
 7   inbed       5961 non-null   object
 8   cause       5962 non-null   object
dtypes: int64(3), object(6)
memory usage: 465.8+ KB

Tambien es posible insertar información que no necesariamente se ubique al final de las filas o columnas, en tal caso, puede usar .insert() el cual es aplicable en columnas

In [ ]:
print('Antes: \n', df.tail())
df.insert(3,'new_col',0)#se definen 3 párametros, posición de inserción, nombre de la nueva columna, y valores(int, array o series de pandas)
print('Despues: \n', df.tail())

Antes:
       Unnamed: 0   left  year  life  dead   acd   kia inbed  cause
5957        6170   left  1876    88     1     0     0     1  inbed
5958        6171   left  1850    65     1     0     0     1  inbed
5959        6172   left  1885    32     1     1     1     0    acd
5960        6173  right  1994    28     0     0     0     0  alive
5961        6174  right  1965    58  None  None  None  None  alive
Despues:
       Unnamed: 0   left  year  new_col  life  dead   acd   kia inbed  cause
5957        6170   left  1876        0    88     1     0     0     1  inbed
5958        6171   left  1850        0    65     1     0     0     1  inbed
5959        6172   left  1885        0    32     1     1     1     0    acd
5960        6173  right  1994        0    28     0     0     0     0  alive
5961        6174  right  1965        0    58  None  None  None  None  alive

Tenga en cuenta que es posible agregar varios valores definiendo un nuevo DataFrame y utilizanto concat()

**EJERCICIO 3:** Cree un DataFrame por el método que desee y concatenelo a nivel de filas a su Dataframe original. Use la documentación de pandas para investigar como usar el método.

**ELIMINAR FILAS O COLUMNAS DE UN DATAFRAME**

Para la eliminación de filas o columnas se hace uso de .Drop() debe especificar la posición sea por categora en caso de las columnas o por indice en el caso de las filas. Recuerde seleccionar el Axis. Si realizo el ejercicio 3 ya debe de tener claro que  se define 0 para filas y  1 para columnas

In [ ]:
df=df.drop(labels='new_col',axis=1)#para eliminar la columna que añadimos
print(df)

      Unnamed: 0   left  year  life  dead   acd   kia inbed  cause
0              1  right  1890   102     0     0     0     0  alive
1              2   left  1892   100     0     0     0     0  alive
2              3  right  1893    99     0     0     0     0  alive
3              4  right  1894    98     0     0     0     0  alive
4              5  right  1896    96     0     0     0     0  alive
...          ...    ...   ...   ...   ...   ...   ...   ...    ...
5957        6170   left  1876    88     1     0     0     1  inbed
5958        6171   left  1850    65     1     0     0     1  inbed
5959        6172   left  1885    32     1     1     1     0    acd
5960        6173  right  1994    28     0     0     0     0  alive
5961        6174  right  1965    58  None  None  None  None  alive

[5962 rows x 9 columns]

In [ ]:
df=df.drop(index=[5960, 5961],axis=0) #para eliminar las 2 filas añadidas
print(df)

      Unnamed: 0   left  year  life dead acd kia inbed  cause
0              1  right  1890   102    0   0   0     0  alive
1              2   left  1892   100    0   0   0     0  alive
2              3  right  1893    99    0   0   0     0  alive
3              4  right  1894    98    0   0   0     0  alive
4              5  right  1896    96    0   0   0     0  alive
...          ...    ...   ...   ...  ...  ..  ..   ...    ...
5955        6168  right  1890    46    1   0   0     1  inbed
5956        6169  right  1919    63    1   0   0     1  inbed
5957        6170   left  1876    88    1   0   0     1  inbed
5958        6171   left  1850    65    1   0   0     1  inbed
5959        6172   left  1885    32    1   1   1     0    acd

[5960 rows x 9 columns]

Tenga en cuenta que los 2 casos expuestos anteriormnente se hizo una asignación del retorno para actualizar df

**RENOMBRAR INDICES DE FILAS O LAS CATEGORIAS DE COLUMNAS**

En ciertos casos puede llegar a ser necesario hacer un cambi de nombres para la referenciación de filas o columnas. En dado caso puede hacer uso del método .rename( )

In [ ]:
print('Antes: \n', df.head())
df=df.rename(index={0:'first'}) #index cambia el valor indicado en la fila
df=df.rename(columns={'year':'years'})#columns cambia el nombre indicado de la columna
print('Despues: \n', df.head())

Antes:
    Unnamed: 0   left  year  life dead acd kia inbed  cause
0           1  right  1890   102    0   0   0     0  alive
1           2   left  1892   100    0   0   0     0  alive
2           3  right  1893    99    0   0   0     0  alive
3           4  right  1894    98    0   0   0     0  alive
4           5  right  1896    96    0   0   0     0  alive
Despues:
        Unnamed: 0   left  years  life dead acd kia inbed  cause
first           1  right   1890   102    0   0   0     0  alive
1               2   left   1892   100    0   0   0     0  alive
2               3  right   1893    99    0   0   0     0  alive
3               4  right   1894    98    0   0   0     0  alive
4               5  right   1896    96    0   0   0     0  alive

Nuevamente la actualización de df depende de la asignación.

**ITERACIONES EN UN DATAFRAMES**

En ciertas ocasiones, puede ser necesario iterar a lo largo de todo el dataframe, las iteraciones a lo largo del dataframe pueden definirse como sigue:

In [ ]:
for index, col in df.iterrows():
  print(type(index))
  print(type(col))
  print(index, col)
  print(col['life'])
  break;

<class 'str'>
<class 'pandas.core.series.Series'>
first Unnamed: 0        1
left          right
years          1890
life            102
dead              0
acd               0
kia               0
inbed             0
cause         alive
Name: first, dtype: object
102

Note que mientras index es un valor entero que hace referencia a la posición de la fila tomada, col es una serie de pandas que incluye todas los valores de columna para esa fila en particular.
Una serie de pandas es una estructura unidimensional con etiquetas de eje (incluidas las series temporales).

**EJERCICIO 4:** haga un ciclo iterativo que le permita cambiar los valores de una columna con valores categoricos o objetos a simplemente números.
Use condicionales y tenga en cuenta todos los posibles valores que pyuede tomar el dato en dicha columna para saber cuantos numeros deberia definir.